$blackColor1: #777777;
$blackColor2: #767676;
$whiteColor1: white;
$whiteColor2: #dcdcdc;

.footer {
	background-color: $blackColor1;
	padding-top: 3.55em;
	padding-bottom: 3.55em;
	color: $whiteColor1;

	@media (max-width: 1280px) {
		padding-top: 3.35em;
		padding-bottom: 3.35em;
	}
	@media (max-width: 1024px) {
		padding-top: 3.15em;
		padding-bottom: 3.15em;
	}
	@media (max-width: 768px) {
		padding-top: 2.95em;
		padding-bottom: 2.95em;
	}
	@media (max-width: 480px) {
		padding-top: 2.75em;
		padding-bottom: 2.75em;
	}

	&__content {
		max-width: 1000px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__copyright {
		flex-basis: 35%;

		@media (max-width: 1280px) {
		}
		@media (max-width: 1024px) {
		}
		@media (max-width: 768px) {
			flex-basis: 50%;
		}
		@media (max-width: 480px) {
		}

		a {
			display: block;
			color: $whiteColor1;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
				outline: none;
			}
		}
	}

	&__nav {
		flex-grow: 1;
		@media (max-width: 1280px) {
		}
		@media (max-width: 1024px) {
		}
		@media (max-width: 768px) {
			flex-basis: 50%;
		}
		@media (max-width: 480px) {
		}

		ul {
			list-style: none;
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
			color: $whiteColor1;
			border-bottom: 1px solid rgba($whiteColor1, 0.6);

			&:hover,
			&:focus {
				border-bottom-color: $whiteColor1;
				outline: none;
			}
		}
	}

	&__developer {
		@media (max-width: 1280px) {
		}
		@media (max-width: 1024px) {
		}
		@media (max-width: 768px) {
			flex-basis: 100%;
			margin-top: 1.5em;
		}
		@media (max-width: 480px) {
		}

		a {
			color: $whiteColor1;
			text-decoration: none;

			&:hover,
			&:focus {
				border-bottom: 1px solid $whiteColor1;
				outline: none;
			}
		}

		span {
			border-bottom: 1px solid rgba($whiteColor1, 0.7);
		}

		br {
			@media (max-width: 1280px) {
			}
			@media (max-width: 1024px) {
			}
			@media (max-width: 768px) {
				display: none;
			}
			@media (max-width: 480px) {
			}
		}
	}
}
